.btn
    display inline-block
    padding 12px 30px 11px
    background #848484
    color #fff !important
    text-decoration none
    border 2px solid transparent
    font-size 1.4rem
    text-transform uppercase
    letter-spacing 2px
    border-radius 2px
    margin 0 10px

    a
        color #fff

    &--blue
        background $blue

    &--green
        background $green

    &--orange
        background $orange

    &--red
        background $red

    &--small
        padding 5px 10px 4px
        font-size 1.1rem

        .icon
            font-size 120% !important

    .icon
        vertical-align middle
        font-size 80%

        &--right
            margin 0 0 0 10%

        &--left
            margin 0 10% 0 0