html
    font-size 62.5%

h1
    font-size 2.4rem
    text-align center
    margin 20px auto
    color $black
    underline($blue)
    box-sizing border-box
    padding 0 10px

    @media $medium-up
        font-size 3.6rem

h2
    margin 0 auto 20px

a
    color $blue

p
    color $black
    margin 0 auto 20px

.grey
    color $lightgrey

.center
    text-align center