.main
    clearfix()
    margin 80px auto 0

    body.show-mobile-menu &
        @media (max-width 37.1875em)
            filter blur(4px)

body.show-mobile-menu
    overflow hidden

div, p, ul, li
    box-sizing border-box