.main-users
    text-align left
    margin 60px auto 0

    .section__inner
        overflow-x scroll

    table
        td
            &:nth-child(5)
                text-align center
                a:nth-child(2), a:nth-child(3)
                    display none