.main-video
    text-align left
    margin 60px auto 0

    h1
        text-align left
        margin 0 10px 25px 0
        display inline-block
        max-width 70%
        width auto
        padding 0

        &:after
            margin-left 0

    .label
        vertical-align top
        margin-top 16px

    .btn
        margin 0 20px 10px 0