underline($color = #513aa1)
    &:after
        content ''
        display block
        height 2px
        width 40px
        background $color
        margin 20px auto 0

        @media $medium-up
            margin 20px auto 0
