@font-face {
	font-family: 'icons';
	src: url("../fonts/icons/icons.eot");
	src: url("../fonts/icons/icons.eot?#iefix") format('eot'), url("../fonts/icons/icons.woff2") format('woff2'), url("../fonts/icons/icons.woff") format('woff'), url("../fonts/icons/icons.ttf") format('truetype'), url("../fonts/icons/icons.svg#icons") format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-spin {
	-webkit-animation: icon-spin 2s infinite linear;
	animation: icon-spin 2s infinite linear;
}

.icon:before {
	display: inline-block;
	font: normal normal normal 14px/1 'icons';
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrows-1:before {
	content: '\EA01';
}

.icon-arrows-2:before {
	content: '\EA02';
}

.icon-arrows:before {
	content: '\EA03';
}

.icon-check:before {
	content: '\EA04';
}

.icon-code:before {
	content: '\EA05';
}

.icon-correct-symbol:before {
	content: '\EA06';
}

.icon-envelope:before {
	content: '\EA07';
}

.icon-globe:before {
	content: '\EA08';
}

.icon-home:before {
	content: '\EA09';
}

.icon-label:before {
	content: '\EA0A';
}

.icon-link:before {
	content: '\EA0B';
}

.icon-listing-option:before {
	content: '\EA0C';
}

.icon-logout:before {
	content: '\EA0D';
}

.icon-magnifying-glass:before {
	content: '\EA0E';
}

.icon-photo:before {
	content: '\EA0F';
}

.icon-plus:before {
	content: '\EA10';
}

.icon-refresh-page-option:before {
	content: '\EA11';
}

.icon-right-chevron:before {
	content: '\EA12';
}

.icon-settings:before {
	content: '\EA13';
}

.icon-speech-bubbles-comment-option:before {
	content: '\EA14';
}

.icon-star:before {
	content: '\EA15';
}

.icon-thumb-down:before {
	content: '\EA16';
}

.icon-thumb-up:before {
	content: '\EA17';
}

.icon-trash:before {
	content: '\EA18';
}

/* normalize.css v3.0.1 | MIT License | git.io/normalize */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */ /* 2 */
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

.btn {
	display: inline-block;
	padding: 12px 30px 11px;
	background: #848484;
	color: #fff !important;
	text-decoration: none;
	border: 2px solid transparent;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-radius: 2px;
	margin: 0 10px;
}

.btn a {
	color: #fff;
}

.btn--blue {
	background: #4a90e2;
}

.btn--green {
	background: #7ed321;
}

.btn--orange {
	background: #f5a623;
}

.btn--red {
	background: #d0021b;
}

.btn--small {
	padding: 5px 10px 4px;
	font-size: 11px;
	font-size: 1.1rem;
}

.btn--small .icon {
	font-size: 120% !important;
}

.btn .icon {
	vertical-align: middle;
	font-size: 80%;
}

.btn .icon--right {
	margin: 0 0 0 10%;
}

.btn .icon--left {
	margin: 0 10% 0 0;
}

html {
	font-size: 62.5%;
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
	text-align: center;
	margin: 20px auto;
	color: #343434;
	box-sizing: border-box;
	padding: 0 10px;
}

h1:after {
	content: '';
	display: block;
	height: 2px;
	width: 40px;
	background: #4a90e2;
	margin: 20px auto 0;
}

h2 {
	margin: 0 auto 20px;
}

a {
	color: #4a90e2;
}

p {
	color: #343434;
	margin: 0 auto 20px;
}

.grey {
	color: #ccc;
}

.center {
	text-align: center;
}

.bootstrap-tagsinput {
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	display: inline-block;
	padding: 4px 6px;
	color: #555;
	vertical-align: middle;
	border-radius: 4px;
	max-width: 100%;
	line-height: 22px;
	cursor: text;
}

.bootstrap-tagsinput input {
	border: none;
	box-shadow: none;
	outline: none;
	background-color: transparent;
	padding: 0 6px;
	margin: 0;
	width: auto;
	max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
	color: #777;
	opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
	color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
	color: #777;
}

.bootstrap-tagsinput input:focus {
	border: none;
	box-shadow: none;
}

.bootstrap-tagsinput .tag {
	margin-right: 2px;
	color: #fff;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
	margin-left: 8px;
	cursor: pointer;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
	content: "x";
	padding: 0px 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover {
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.burger {
	float: right;
	height: 38px;
	width: 38px;
	line-height: 30px;
	padding: 4px 4px 4px 4px;
	margin-left: 6px;
	cursor: pointer;
}

.burger span {
	display: inline-block;
	height: 2px;
	width: 100%;
	background: #343434;
	vertical-align: middle;
	position: relative;
}

.burger span:before,
.burger span:after {
	content: '';
	display: block;
	position: absolute;
	height: 2px;
	background: #343434;
	width: 100%;
}

.burger span:before {
	top: -8px;
}

.burger span:after {
	bottom: -8px;
}

.dashboard {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
	margin: 0 auto 20px;
}

.dashboard li:before {
	display: none;
}

.dashboard li + li {
	margin-top: 0;
}

.dashboard li {
	display: inline-block;
	width: 50%;
	width: calc(50% - 10px);
	font-size: 15px;
	vertical-align: top;
	margin: 0 0 30px;
	padding: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	position: relative;
	-webkit-transition: box-shadow 0.2s, -webkit-transform 0.2s;
	transition: box-shadow 0.2s, -webkit-transform 0.2s;
	transition: transform 0.2s, box-shadow 0.2s;
	transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s;
	overflow: hidden;
	text-align: center;
	color: #fff;
	margin: 0 5px 10px;
}

.dashboard a {
	color: #fff;
	text-decoration: none;
}

.dashboard h2 {
	font-weight: 400;
	margin: 0 auto 10px;
}

.dashboard small {
	display: block;
	margin: 0 auto;
	font-size: 13px;
	font-size: 1.3rem;
	color: #fff;
}

.dashboard__item--blue {
	background: #4a90e2;
}

.dashboard__item--red {
	background: #d0021b;
}

.dashboard__item--orange {
	background: #f5a623;
}

.dashboard__item--green {
	background: #7ed321;
}

.iframe {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	overflow: hidden;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.iframe iframe body {
	overflow: hidden !important;
}

.img-preview {
	display: none;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	float: left;
	max-width: 200px;
}

.img-preview img {
	max-width: 100%;
}

.labels {
	padding: 3px 5px;
	background: #ddd;
	color: #fff;
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0 5px 5px 0;
	display: inline-block;
	text-decoration: none;
}

.labels:hover {
	color: #fff;
	text-decoration: none;
}

.labels__orange {
	background: #f5a623;
}

.labels__red {
	background: #d0021b;
}

.labels__blue {
	background: #4a90e2;
}

.labels__purple {
	background: #4d3960;
}

.labels__green {
	background: #7ed321;
}

.dashboard-labels {
	text-align: center;
}

.landing {
	display: block;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding: 0 10px;
}

.landing__holder {
	display: table;
	width: 100%;
	height: 100%;
}

.landing__valign {
	display: table-cell;
	vertical-align: middle;
}

.landing h1 {
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 400;
	margin: 0 auto 30px;
}

.landing p {
	font-size: 18px;
	font-size: 1.8rem;
}

.landing .btn {
	margin: 0 5px 10px;
}

.like {
	display: inline-block;
	padding: 0 0 12px;
}

.like a {
	color: #fff;
	text-decoration: none;
}

.like__btn {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 3px 10px 3px 10px;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

.like__btn--like {
	background: #7ed321;
}

.like__btn--dislike {
	background: #d0021b;
}

.like__progress {
	position: absolute;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	-webkit-transition: height 0.2s;
	transition: height 0.2s;
	display: none;
}

.like:hover .like__progress {
	height: 5px;
}

.like__progress div {
	height: 100%;
	display: inline-block;
	top: -10px;
}

.like__progress div:nth-child(1) {
	background: #7ed321;
}

.like__progress div:nth-child(2) {
	background: #d0021b;
}

.list-comments {
	padding: 0;
	margin: 0;
	list-style: none;
	display: block;
	margin: 0 auto;
}

.list-comments li:before {
	display: none;
}

.list-comments li + li {
	margin-top: 0;
}

.list-comments li {
	display: block;
	margin: 0 auto 20px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.1);
}

.list-comments__head {
	display: block;
	padding: 10px 10px;
	background: rgba(77,57,96,0.7);
	color: #fff;
}

.list-comments__head:before,
.list-comments__head:after {
	content: "";
	display: table;
}

.list-comments__head:after {
	clear: both;
}

.list-comments a {
	color: #fff;
}

.list-comments h3 {
	font-size: 16px;
	font-size: 1.6rem;
	margin: 0 auto;
	display: inline-block;
}

.list-comments__date {
	margin: 6px 0 0 0;
}

.list-comments__content {
	display: block;
	padding: 10px 10px 5px;
	border: 1px solid #efefef;
	color: #343434;
}

.list-comments__content:before,
.list-comments__content:after {
	content: "";
	display: table;
}

.list-comments__content:after {
	clear: both;
}

.list-comments__content p {
	margin: 0 auto 5px;
}

.list-comments__buttons {
	float: right;
	margin: 0 0 10px 10px;
}

.list-comments__buttons .btn {
	display: inline-block;
	margin: 0 auto 5px !important;
}

.list-videos {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.list-videos li:before {
	display: none;
}

.list-videos li + li {
	margin-top: 0;
}

.list-videos li {
	display: inline-block;
	width: 100%;
	font-size: 15px;
	vertical-align: top;
	margin: 0 0 30px;
	padding: 10px 15px;
	border: 1px solid #eee;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	position: relative;
	-webkit-transition: box-shadow 0.2s, -webkit-transform 0.2s;
	transition: box-shadow 0.2s, -webkit-transform 0.2s;
	transition: transform 0.2s, box-shadow 0.2s;
	transition: transform 0.2s, box-shadow 0.2s, -webkit-transform 0.2s;
	cursor: pointer;
	overflow: hidden;
}

.list-videos h2 {
	font-size: 24px;
	font-size: 2.4rem;
	margin: 0 auto 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos a {
	text-decoration: none;
	color: #343434;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__img {
	text-align: center;
	background: #ddd;
	padding-bottom: 56.25%;
	width: 100%;
	margin: 0 auto 10px;
	overflow: hidden;
	position: relative;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__img img {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	height: auto;
	z-index: 2;
	min-width: 100%;
	min-height: 100%;
	max-width: 110%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.list-videos__type {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	color: rgba(255,255,255,0.6);
	font-size: 30px;
	font-size: 3rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.list-videos__desc {
	margin: 0 auto 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__url {
	color: #ccc;
	font-size: 12px;
	font-size: 1.2rem;
	margin: 0 auto 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__module {
	margin: 0 auto 10px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__desc {
	color: #343434;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__date,
.list-videos__visits {
	color: #ccc;
	font-size: 12px;
	font-size: 1.2rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__user {
	color: #4a90e2;
	margin: 0 auto 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__date {
	float: left;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__visits {
	float: right;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__admin {
	position: relative;
	display: block;
	clear: both;
	padding-top: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.list-videos__admin .btn {
	margin: 0 10px 0 0;
}

.no-video {
	text-align: center;
	padding: 50px 20px;
	background: #efefef;
}

[data-note] {
	position: relative;
}

[data-note]:hover:before,
[data-note]:hover:after {
	-webkit-transform: translate(-50%, -2px);
	transform: translate(-50%, -2px);
	opacity: 1;
}

[data-note]:hover:after {
	width: 0;
	height: 0;
	background: 0;
	border-style: solid;
	content: '';
	display: inline-block;
	border-width: 6px 5px 0 5px;
	border-color: #343434 transparent transparent transparent;
}

[data-note]:before {
	content: attr(data-note);
	left: 50%;
	bottom: calc(100% + 4px);
	position: absolute;
	z-index: 10;
	border-radius: 2px;
	box-shadow: 0 2px 7px rgba(0,0,0,0.2);
	background: #aaa;
	line-height: 1;
	font-size: 12px;
	font-size: 1.2rem;
	padding: 4px 6px;
	min-width: 76px;
	box-sizing: border-box;
	-webkit-transform: translate(-50%, 2px);
	transform: translate(-50%, 2px);
	opacity: 0;
	text-align: center !important;
	overflow: hidden;
	-webkit-transition: opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	transition: opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	transition: transform 0.2s 0s, opacity 0.2s 0s;
	transition: transform 0.2s 0s, opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	pointer-events: none;
	letter-spacing: 1px;
	color: #fff;
	background: #343434;
}

[data-note]:after {
	content: '';
	z-index: 11;
	position: absolute;
	bottom: calc(100% - 2px);
	left: 50%;
	-webkit-transform: translate(-50%, 2px);
	transform: translate(-50%, 2px);
	opacity: 0;
	width: 0;
	height: 0;
	background: 0;
	border-style: solid;
	content: '';
	display: inline-block;
	border-width: 6px 5px 0 5px;
	border-color: #343434 transparent transparent transparent;
	-webkit-transition: opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	transition: opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	transition: transform 0.2s 0s, opacity 0.2s 0s;
	transition: transform 0.2s 0s, opacity 0.2s 0s, -webkit-transform 0.2s 0s;
	pointer-events: none;
}

.search {
	position: fixed;
	top: 60px;
	left: 0;
	right: 0;
	max-width: 100% !important;
	z-index: 90;
	text-align: center;
	-webkit-transform: translate3d(0, -100px, 0);
	transform: translate3d(0, -100px, 0);
	-webkit-transition: -webkit-transform 0.5s;
	transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	transition: transform 0.5s, -webkit-transform 0.5s;
}

.search__inner {
	max-width: 600px;
	padding: 0 0;
	margin: 0 auto;
}

.search .form-group {
	text-align: center !important;
	margin: 0 auto;
}

.search .control-label {
	margin: 0 10px 0 0;
	display: none;
}

.search .form-control {
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.search .btn {
	display: none;
}

body.show-search .search {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

video {
	width: 100%;
	margin-bottom: -4px;
}

.form {
	border: 1px solid #ededed;
	padding: 20px 20px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
	max-width: 640px;
	margin: 0 auto;
	background: #fafafa;
	text-align: center;
}

.form:before,
.form:after {
	content: "";
	display: table;
}

.form:after {
	clear: both;
}

.form--thin {
	max-width: 460px;
}

.form__control {
	text-align: center;
	padding: 10px 0 0;
	clear: both;
}

.form__control--left {
	text-align: left;
}

.form textarea {
	height: 120px;
	resize: none;
}

.form .form-group {
	text-align: left;
}

.form .form-control {
	text-align: left;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form .bootstrap-tagsinput {
	width: 100%;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.form .bootstrap-tagsinput input {
	margin: 0 0 0 10px;
	min-width: 100px;
}

.form .label-info:nth-child(5n + 1) {
	background-color: #4a90e2;
}

.form .label-info:nth-child(5n + 2) {
	background-color: #f5a623;
}

.form .label-info:nth-child(5n + 3) {
	background-color: #7ed321;
}

.form .label-info:nth-child(5n + 4) {
	background-color: #d0021b;
}

.form .label-info:nth-child(5n + 5) {
	background-color: #4d3960;
}

.footer {
	display: block;
	padding-top: 20px;
}

.footer__inner {
	margin: 0 auto;
	max-width: 1240px;
	padding: 0 20px 40px;
	font-size: 13px;
	font-size: 1.3rem;
	color: #ccc;
}

.footer__inner:before,
.footer__inner:after {
	content: "";
	display: table;
}

.footer__inner:after {
	clear: both;
}

.footer__left {
	float: left;
}

.footer__right {
	float: left;
	clear: left;
}

.header {
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	height: 60px;
	text-align: center;
	box-shadow: 0 2px 3px rgba(77,57,96,0.2);
	z-index: 100;
}

.header__holder {
	position: relative;
	margin: 0 auto;
	max-width: 1240px;
	padding: 10px;
}

.header__holder:before,
.header__holder:after {
	content: "";
	display: table;
}

.header__holder:after {
	clear: both;
}

.header a {
	display: inline-block;
	vertical-align: middle;
	color: #343434;
}

.header__logo {
	float: left;
	padding: 9px 20px 9px 0;
}

.header__login {
	display: none !important;
}

.header__login .icon {
	vertical-align: middle;
	font-size: 20px;
	font-size: 2rem;
	margin: 5px 0 0 0;
}

.header__add {
	float: right;
	color: #fff !important;
	padding: 9px 20px 8px;
}

.header .btn {
	margin: 6px 10px;
	font-size: 0;
	padding: 0;
	width: 30px;
	letter-spacing: 0;
}

.header .btn .icon {
	font-size: 14px !important;
	font-size: 1.4rem !important;
}

.nav {
	display: none;
	vertical-align: middle;
	margin: 0 10px 0 0;
	float: right;
}

.nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.nav ul li:before {
	display: none;
}

.nav ul li + li {
	margin-top: 0;
}

.nav li {
	display: inline-block;
}

.nav a {
	display: inline-block;
	padding: 9px 10px;
}

.nav-mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.9);
	z-index: 90;
	display: none !important;
}

.nav-mobile__holder {
	display: table;
	width: 100%;
	height: 100%;
}

.nav-mobile ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.nav-mobile ul li:before {
	display: none;
}

.nav-mobile ul li + li {
	margin-top: 0;
}

.nav-mobile li {
	display: block;
	font-size: 22px;
	font-size: 2.2rem;
}

.nav-mobile a {
	color: #343434;
	font-weight: 700;
}

.nav-mobile .icon {
	vertical-align: middle;
}

.section {
	display: block;
	margin: 0 auto 20px;
}

.section__inner {
	margin: 0 auto;
	max-width: 1240px;
	padding: 20px 10px;
	position: relative;
}

.section--video {
	background: #000;
	margin: 0 auto 20px;
}

.section--video .section__inner {
	padding: 0 20px;
	max-width: 840px;
}

.section--video h2 {
	text-align: center;
	padding: 240px 20px;
}

.section--description {
	margin: 0 auto 20px;
}

.section--comments {
	max-width: 1240px;
}

.section--comments .section__inner {
	max-width: 840px;
	margin: 0;
}

.section--comments .form {
	max-width: 100%;
	margin: 0 auto 40px;
}

.section--comments .form .btn {
	margin: 0 auto;
}

.section--thin .section__inner {
	max-width: 460px;
}

.section--dashboard {
	margin: 0 auto;
}

.main {
	margin: 80px auto 0;
}

.main:before,
.main:after {
	content: "";
	display: table;
}

.main:after {
	clear: both;
}

body.show-mobile-menu {
	overflow: hidden;
}

div,
p,
ul,
li {
	box-sizing: border-box;
}

.main-landing {
	margin: 0 auto;
	position: relative;
	z-index: 2;
}

.main-landing img {
	width: 180px;
	margin: 0 auto 20px;
}

.main-users {
	text-align: left;
	margin: 60px auto 0;
}

.main-users .section__inner {
	overflow-x: scroll;
}

.main-users table td:nth-child(5) {
	text-align: center;
}

.main-users table td:nth-child(5) a:nth-child(2),
.main-users table td:nth-child(5) a:nth-child(3) {
	display: none;
}

.main-video {
	text-align: left;
	margin: 60px auto 0;
}

.main-video h1 {
	text-align: left;
	margin: 0 10px 25px 0;
	display: inline-block;
	max-width: 70%;
	width: auto;
	padding: 0;
}

.main-video h1:after {
	margin-left: 0;
}

.main-video .label {
	vertical-align: top;
	margin-top: 16px;
}

.main-video .btn {
	margin: 0 20px 10px 0;
}

@media (min-width: 38.75em) {

.search__inner {
	padding: 0 20px;
}

.search .control-label {
	display: inline-block;
}

.search .form-control {
	max-width: calc(100% - 270px);
}

.search .btn {
	display: inline-block;
}

}

@media (min-width: 40em) {

.dashboard li {
	width: 25%;
	margin: 0 10px;
	width: calc(25% - 20px);
}

.list-videos li {
	width: 50%;
	padding: 20px 29px;
	margin: 0 10px 30px;
	width: calc(50% - 20px);
}

}

@media (min-width: 45em) {

.burger {
	display: none;
}

.header__login {
	display: inline-block !important;
	padding: 9px 20px;
	float: right;
	font-size: 15px;
	font-size: 1.5rem;
	vertical-align: middle;
}

.header__login .icon {
	margin: 1px 0 0 5px;
	font-size: 16px;
	font-size: 1.6rem;
	display: inline-block;
	vertical-align: middle;
}

.nav {
	display: inline-block;
}

}

@media screen and (min-width: 48em) {

h1:after {
	margin: 20px auto 0;
}

h1 {
	font-size: 36px;
	font-size: 3.6rem;
}

.landing h1 {
	margin: 0 auto 30px;
	font-size: 50px;
	font-size: 5rem;
}

.like {
	position: absolute;
	top: 70px;
	right: 20px;
}

.like__progress {
	display: block;
}

.list-comments__head {
	padding: 10px 30px;
}

.list-comments h3 {
	font-size: 18px;
	font-size: 1.8rem;
}

.list-comments__date {
	margin: 1px 0 0 0;
	float: right;
}

.list-comments__content {
	padding: 10px 30px 5px;
}

.views {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 18px;
	font-size: 1.8rem;
}

.form {
	padding: 20px 30px;
}

.footer__right {
	float: right;
	clear: none;
}

.header__holder {
	padding: 10px 20px;
}

.header__logo {
	padding: 9px 20px 9px 10px;
}

.section {
	margin: 0 auto 40px;
}

.section__inner {
	padding: 20px;
}

.section--description p {
	max-width: 60%;
	margin: 0 0 20px;
}

.section--dashboard {
	margin: 0 auto 20px;
}

.main-landing img {
	margin: 0 auto 60px;
}

}

@media (min-width: 57.5em) {

.dashboard li {
	width: 25%;
	width: calc(25% - 20px);
}

.list-videos li {
	width: 33.3%;
	width: calc(33.33% - 20px);
}

.header .btn {
	letter-spacing: 2px;
}

.header .btn {
	margin: 0 10px;
	font-size: 11px;
	font-size: 1.1rem;
	width: auto;
	padding: 9px 20px 8px;
}

}

@media screen and (min-width: 64em) {

.list-videos li:hover {
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	box-shadow: 0 14px 34px rgba(0,0,0,0.2);
}

}

@media (max-width: 57.4375em) {

.header .btn .icon {
	display: inline-block;
	margin: 4px 0 0 1px !important;
}

}

@media (max-width: 44.9375em) {

body.show-mobile-menu .nav-mobile {
	display: block !important;
}

}

@media (max-width: 37.1875em) {

body.show-mobile-menu .main {
	-webkit-filter: blur(4px);
	filter: blur(4px);
}

}

@-webkit-keyframes icon-spin {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
}

}

@keyframes icon-spin {

0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
}

}

