.section
    display block
    margin 0 auto 20px

    @media $medium-up
        margin 0 auto 40px

    &__inner
        margin 0 auto
        max-width 1240px
        padding 20px 10px
        //border 2px solid #eee
        //background #f2f2f2
        //box-shadow 0 2px 8px rgba(#000, .2)
        position relative

        @media $medium-up
            padding 20px

    &--video
        background #000
        margin 0 auto 20px

        .section__inner
            padding 0 20px
            max-width 840px

        h2
            text-align center
            padding 240px 20px

    &--description
        margin 0 auto 20px

        p
            @media $medium-up
                max-width 60%
                margin 0 0 20px

    &--comments
        max-width 1240px

        .section__inner
            max-width 840px
            margin 0

        .form
            max-width 100%
            margin 0 auto 40px

            .btn
                margin 0 auto

    &--thin
        .section__inner
            max-width 460px

    &--dashboard
        margin 0 auto
        @media $medium-up
            margin 0 auto 20px