.form
    border 1px solid #ededed
    padding 20px 20px
    box-shadow 0 2px 8px rgba(#000, .1)
    max-width 640px
    margin 0 auto
    background #fafafa
    text-align center
    clearfix()

    @media $medium-up
        padding 20px 30px

    &--thin
        max-width 460px

    &__control
        text-align center
        padding 10px 0 0
        clear both

        &--left
            text-align left

    textarea
        height 120px
        resize none

    .form-group
        text-align left

    .form-control
        text-align left
        border-radius 2px
        //padding 14px 12px
        box-shadow 0 2px 8px rgba(#000, .1)

    .bootstrap-tagsinput
        width 100%
        box-shadow 0 2px 8px rgba(#000, .1)

        input
            margin 0 0 0 10px
            min-width 100px

    select
        //height 50px

    option
        //padding 3px 5px
        //background $blue
        //color #fff
        //font-size 1.2rem
        //margin 0 5px 5px 0
        //display inline-block
        //float left
        //
        //&:active
        //    background $green
        //
        //&:nth-child(5n + 1)
        //    background-color $blue
        //
        //&:nth-child(5n + 2)
        //    background-color $orange
        //
        //&:nth-child(5n + 3)
        //    background-color $green
        //
        //&:nth-child(5n + 4)
        //    background-color $red
        //
        //&:nth-child(5n + 5)
        //    background-color $purple

    .label-info
        &:nth-child(5n + 1)
            background-color $blue

        &:nth-child(5n + 2)
             background-color $orange

        &:nth-child(5n + 3)
             background-color $green

        &:nth-child(5n + 4)
             background-color $red

        &:nth-child(5n + 5)
             background-color $purple


