.footer
    display block
    padding-top 20px

    &__inner
        margin 0 auto
        max-width 1240px
        padding 0 20px 40px
        clearfix()
        font-size 1.3rem
        color $lightgrey

    &__left
        float left

    &__right
        float left
        clear left
        @media $medium-up
            float right
            clear none
