.header
    margin 0 auto
    position fixed
    top 0
    left 0
    right 0
    background #fff
    height 60px
    text-align center
    box-shadow 0 2px 3px rgba($purple, .2)
    z-index 100

    &__holder
        position relative
        margin 0 auto
        max-width 1240px
        padding 10px
        clearfix()

        @media $medium-up
            padding 10px 20px

    a
        display inline-block
        vertical-align middle
        color $black

    &__logo
        float left
        padding 9px 20px 9px 0
        @media $medium-up
            padding 9px 20px 9px 10px

    &__login
        display none !important

        @media (min-width 45em)
            display inline-block !important
            padding 9px 20px
            float right
            font-size 1.5rem
            vertical-align middle

        .icon
            vertical-align middle
            font-size 2rem
            margin 5px 0 0 0

            @media (min-width 45em)
                margin 1px 0 0 5px
                font-size 1.6rem
                display inline-block
                vertical-align middle

    &__add
         float right
         color #fff !important
         padding 9px 20px 8px

    .btn
        margin 6px 10px
        font-size 0
        padding 0
        width 30px
        letter-spacing 0

        @media (min-width 57.5em)
            letter-spacing 2px


        .icon
            font-size 1.4rem !important

            @media (max-width 57.4375em)
                display inline-block
                margin 4px 0 0 1px !important

        .icon-plus
            @media (max-width 57.4375em)
                //margin 4px 0 0 2px !important

        .icon-magnifying-glass
            @media (max-width 57.4375em)
                //margin 4px 0 0 -12px !important

        @media (min-width 57.5em)
            margin 0 10px
            font-size 1.1rem
            width auto
            padding 9px 20px 8px

