.nav
    display none
    vertical-align middle
    margin 0 10px 0 0
    float right

    @media (min-width 45em)
        display inline-block

    ul
        reset-list()

    li
        display inline-block

    a
        display inline-block
        padding 9px 10px

.nav-mobile
    position fixed
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#fff, .9)
    z-index 90
    display none !important

    @media (max-width 44.9375em)
        body.show-mobile-menu &
            display block !important

    &__holder
        display table
        width 100%
        height 100%

    ul
        reset-list()
        display table-cell
        vertical-align middle
        text-align center

    li
        display block
        font-size 2.2rem

    a
        color $black
        font-weight 700

    .icon
        vertical-align middle