@font-face
    font-family: 'icons'
    src: url('../fonts/icons/icons.eot')
    src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
        url('../fonts/icons/icons.woff2') format('woff2'),
        url('../fonts/icons/icons.woff') format('woff'),
        url('../fonts/icons/icons.ttf') format('truetype'),
        url('../fonts/icons/icons.svg#icons') format('svg')
    font-weight: normal
    font-style: normal

.icon-spin
    animation icon-spin 2s infinite linear


@keyframes icon-spin
    0%
        transform rotate(0deg);

    100%
        transform rotate(359deg);

icon()
    display: inline-block;
    font: normal normal normal 14px/1 'icons'; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

.icon:before
    icon()


$icon-arrows-1 = '\EA01'
$icon-arrows-2 = '\EA02'
$icon-arrows = '\EA03'
$icon-check = '\EA04'
$icon-code = '\EA05'
$icon-correct-symbol = '\EA06'
$icon-envelope = '\EA07'
$icon-globe = '\EA08'
$icon-home = '\EA09'
$icon-label = '\EA0A'
$icon-link = '\EA0B'
$icon-listing-option = '\EA0C'
$icon-logout = '\EA0D'
$icon-magnifying-glass = '\EA0E'
$icon-photo = '\EA0F'
$icon-plus = '\EA10'
$icon-refresh-page-option = '\EA11'
$icon-right-chevron = '\EA12'
$icon-settings = '\EA13'
$icon-speech-bubbles-comment-option = '\EA14'
$icon-star = '\EA15'
$icon-thumb-down = '\EA16'
$icon-thumb-up = '\EA17'
$icon-trash = '\EA18'


.icon-arrows-1:before
    content $icon-arrows-1

.icon-arrows-2:before
    content $icon-arrows-2

.icon-arrows:before
    content $icon-arrows

.icon-check:before
    content $icon-check

.icon-code:before
    content $icon-code

.icon-correct-symbol:before
    content $icon-correct-symbol

.icon-envelope:before
    content $icon-envelope

.icon-globe:before
    content $icon-globe

.icon-home:before
    content $icon-home

.icon-label:before
    content $icon-label

.icon-link:before
    content $icon-link

.icon-listing-option:before
    content $icon-listing-option

.icon-logout:before
    content $icon-logout

.icon-magnifying-glass:before
    content $icon-magnifying-glass

.icon-photo:before
    content $icon-photo

.icon-plus:before
    content $icon-plus

.icon-refresh-page-option:before
    content $icon-refresh-page-option

.icon-right-chevron:before
    content $icon-right-chevron

.icon-settings:before
    content $icon-settings

.icon-speech-bubbles-comment-option:before
    content $icon-speech-bubbles-comment-option

.icon-star:before
    content $icon-star

.icon-thumb-down:before
    content $icon-thumb-down

.icon-thumb-up:before
    content $icon-thumb-up

.icon-trash:before
    content $icon-trash

