.burger
    float right
    height 38px
    width 38px
    line-height 30px
    padding 4px 4px 4px 4px
    margin-left 6px
    cursor pointer

    @media (min-width 45em)
        display none

    span
        display inline-block
        height 2px
        width 100%
        background $black
        vertical-align middle
        position relative

        &:before, &:after
            content ''
            display block
            position absolute
            height 2px
            background $black
            width 100%

        &:before
            top -8px

        &:after
            bottom -8px