.dashboard
    display block
    reset-list()
    font-size 0
    margin 0 auto 20px

    li
        display inline-block
        width 50%
        width calc(50% - 10px)
        font-size 15px
        vertical-align top
        margin 0 0 30px
        padding 10px
        box-shadow 0 2px 8px rgba(#000, .1)
        position relative
        transition transform .2s, box-shadow .2s
        overflow hidden
        text-align center
        color #fff
        margin 0 5px 10px

        @media (min-width 40em)
            width 25%
            margin 0 10px
            width calc(25% - 20px)

        @media (min-width 57.5em)
            width 25%
            width calc(25% - 20px)

    a
        color #fff
        text-decoration none

    h2
        font-weight 400
        margin 0 auto 10px

    small
        display block
        margin 0 auto
        font-size 1.3rem
        color #fff

    &__item
        &--blue
            background $blue

        &--red
            background $red

        &--orange
            background $orange

        &--green
            background $green

