.labels
    padding 3px 5px
    background #ddd
    color #fff
    font-size 1.2rem
    margin 0 5px 5px 0
    display inline-block
    text-decoration none

    &:hover
        color #fff
        text-decoration none

    &__orange
        background $orange

    &__red
        background $red

    &__blue
        background $blue

    &__purple
        background $purple

    &__green
        background $green

.dashboard-labels
    text-align center