.landing
    display block
    width 100%
    height 100vh
    text-align center
    padding 0 10px

    &__holder
        display table
        width 100%
        height 100%

    &__valign
        display table-cell
        vertical-align middle

    h1
        font-size 2.4rem
        font-weight 400
        margin 0 auto 30px

        @media $medium-up
            margin 0 auto 30px
            font-size 5rem

    p
        font-size 1.8rem

    .btn
        margin 0 5px 10px