.like
    display inline-block
    padding 0 0 12px

    @media $medium-up
        position absolute
        top 70px
        right 20px

    a
        color #fff
        text-decoration none

    &__btn
        display inline-block
        color #fff
        text-decoration none
        padding 3px 10px 3px 10px
        border-radius 2px
        box-shadow 0 2px 3px rgba(#000, .1)

        &--like
            background $green

        &--dislike
            background $red

    &__progress
        position absolute
        height 2px
        left 0
        right 0
        bottom 0
        box-shadow 0 2px 3px rgba(#000, .1)
        transition height .2s
        display none

        @media $medium-up
            display block

        .like:hover &
            height 5px

        div
            height 100%
            display inline-block
            top -10px

            &:nth-child(1)
                 background $green

            &:nth-child(2)
                background $red