.list-videos
    display block
    reset-list()
    font-size 0

    li
        display inline-block
        width 100%
        font-size 15px
        vertical-align top
        margin 0 0 30px
        padding 10px 15px
        //background #eee
        border 1px solid #eee
        box-shadow 0 2px 8px rgba(#000, .1)
        position relative
        transition transform .2s, box-shadow .2s
        cursor pointer
        overflow hidden
        //backface-visibility hidden

        @media (min-width 40em)
            width 50%
            padding 20px 29px
            margin 0 10px 30px
            width calc(50% - 20px)

        @media (min-width 57.5em)
            width 33.3%
            width calc(33.33% - 20px)

        &:hover
            @media $large-up
                transform translate3d(0, -10px, 0)
                box-shadow 0 14px 34px rgba(#000, .2)

    h2
        font-size 2.4rem
        margin 0 auto 10px
        backface-visibility hidden
        transform translateZ(0)

    a
        text-decoration none
        color $black
        backface-visibility hidden
        transform translateZ(0)

    &__img
        text-align center
        background #ddd
        padding-bottom 56.25%
        width 100%
        margin 0 auto 10px
        overflow hidden
        position relative
        backface-visibility hidden
        transform translateZ(0)

        img
            position absolute
            top 50%
            left 50%
            transform translate3d(-50%, -50%, 0)
            height auto
            z-index 2
            min-width 100%
            min-height 100%
            max-width 110%
            backface-visibility hidden

    &__type
        position absolute
        left 50%
        top 50%
        transform translate3d(-50%, -50%, 0)
        color rgba(#fff, .6)
        font-size 3rem
        backface-visibility hidden

    &__desc
        margin 0 auto 10px
        backface-visibility hidden
        transform translateZ(0)

    &__url
        color $lightgrey
        font-size 1.2rem
        margin 0 auto 10px
        backface-visibility hidden
        transform translateZ(0)

    &__module
        margin 0 auto 10px
        backface-visibility hidden
        transform translateZ(0)

    &__desc
        color $black
        backface-visibility hidden
        transform translateZ(0)

    &__date, &__visits
        color $lightgrey
        font-size 1.2rem
        backface-visibility hidden
        transform translateZ(0)

    &__user
        color $blue
        margin 0 auto 20px
        backface-visibility hidden
        transform translateZ(0)

    &__date
        float left
        backface-visibility hidden
        transform translateZ(0)

    &__visits
        float right
        backface-visibility hidden
        transform translateZ(0)

    &__admin
        position relative
        display block
        clear both
        padding-top 20px
        backface-visibility hidden
        transform translateZ(0)

        .btn
            margin 0 10px 0 0