.list-comments
    reset-list()
    display block
    margin 0 auto

    li
        display block
        margin 0 auto 20px
        box-shadow 0 3px 4px rgba(#000, .1)

    &__head
        display block
        padding 10px 10px
        background rgba($purple, .7)
        color #fff
        clearfix()

        @media $medium-up
            padding 10px 30px

    a
        color #fff

    h3
        font-size 1.6rem
        margin 0 auto
        display inline-block

        @media $medium-up
            font-size 1.8rem

    &__date
        margin 6px 0 0 0
        @media $medium-up
            margin 1px 0 0 0
            float right

    &__content
        display block
        padding 10px 10px 5px
        border 1px solid #efefef
        color $black
        clearfix()
        @media $medium-up
            padding 10px 30px 5px

        p
            margin 0 auto 5px

    &__buttons
        float right
        margin 0 0 10px 10px
        .btn
            display inline-block
            margin 0 auto 5px !important