[data-note]
    position relative

    &:hover
        &:before, &:after
            transform translate(-50%, -2px)
            opacity 1

        &:after
            triangle(10px, 6px, 'bottom', $black)

    &:before
        content attr(data-note)
        left 50%
        bottom calc(100% + 4px)
        position absolute
        z-index 10
        border-radius 2px
        box-shadow 0 2px 7px rgba(#000, .2)
        background #aaa
        line-height 1
        font-size 1.2rem
        padding 4px 6px
        min-width 76px
        box-sizing border-box
        transform translate(-50%, 2px)
        opacity 0
        text-align center !important
        overflow hidden
        transition transform .2s 0s, opacity .2s 0s
        pointer-events none
        letter-spacing 1px
        color #fff
        background $black

    &:after
        content ''
        z-index 11
        position absolute
        bottom calc(100% - 2px)
        left 50%
        transform translate(-50%, 2px)
        opacity 0
        triangle(10px, 6px, 'bottom', $black)
        transition transform .2s 0s, opacity .2s 0s
        pointer-events none




