.search
    position fixed
    top 60px
    left 0
    right 0
    max-width 100% !important
    z-index 90
    text-align center
    transform translate3d(0, -100px, 0)
    transition transform .5s

    &__inner
        max-width 600px
        padding 0 0
        margin 0 auto
        @media (min-width 38.75em)
            padding 0 20px

    .form-group
        text-align center !important
        margin 0 auto

    .control-label
        margin 0 10px 0 0
        display none
        @media (min-width 38.75em)
            display inline-block

    .form-control
        display inline-block
        margin 0 auto
        width 100%
        @media (min-width 38.75em)
            max-width calc(100% - 270px)

    .btn
        display none

        @media (min-width 38.75em)
            display inline-block

    body.show-search &
        transform translate3d(0, 0, 0)


